@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=M+PLUS+Rounded+1c:wght@300;400;500;700;800;900&family=Roboto:wght@500;700&display=swap');

/*==========================================================================*/
/*                                                                          */
/*    base.css  --> スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css --> フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
  font-size: 150%;
  -webkit-text-size-adjust: none;
  font-weight: 400;
  letter-spacing: 0.05em;
}

a {
  transition: all ease 0.5s;
  text-decoration: none;
  color: var(--txt);
}

img {
  vertical-align: middle;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

select {
  visibility: visible !important;
}

a[href^="tel:"] {
  word-break: keep-all;
}

/*==========================================================================*/
/*                               Container                                  */
/*==========================================================================*/
html {
  background: #fff
}

body {
  color: var(--txt);
  -webkit-text-size-adjust: none;
  min-width: 320px;
  font-family: var(--f-nts);
}

body.ov_hidden {
  overflow: hidden;
}

table {
  width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

p,
dd,
dt,
li,
th,
td,
address {
  line-height: 2em;
  letter-spacing: 0;
}

p {
  margin: 0 0 1.25em;
}

p:last-child {
  margin-bottom: 0
}

:root {
  /* FONT SITE */
  --txt: #333333;
  /* COLOR TEXT */
  --mcolor: #52B88C;
  /* MAIN COLOR  */
  --scolor: #999999;
  /* SUB COLOR */
  --site_size: 1230px;
  /* SIZE WRAPPER */

  /* CUSTOM COLOR */
  --gradient: 0deg, #5DC1CF 18%, #CBE097 37.5319%, #FFEA00 74.2393%, #F5AC3C 100%;
  --shadow: 4px 4px 0 rgb(130 59 34 / 20%);
  --btn_color: #1A854D;
  --blue: blue;
  --gray: #e9e9e9;
  --red: red;
  --pink: #ED8599;
  --yellow: #FFEB00;
  --orange: #F5AC3C;
  --f-nts: 'Noto Sans JP', sans-serif;
  --f-plus: 'M PLUS Rounded 1c', sans-serif;
  --f-cv: 'Caveat', cursive;
}

#wrapper {
  min-width: var(--site_size);
  overflow: hidden;
  margin: 0 auto
}

.inner {
  width: var(--site_size);
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  padding: 0 15px;
}

.container {
  width: 2000px;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}


/*==========================================================
                      C U S T O M 
==========================================================*/
.flex_wrap {
  display: flex;
  flex-wrap: wrap
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_align {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fixed {
  position: fixed;
}

.posr {
  position: relative
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center
}

.left {
  text-align: left
}

.right {
  text-align: right
}

.auto {
  margin-left: auto;
  margin-right: auto;
}

.red {
  color: var(--red);
}

.txt_line {
  text-decoration: underline;
}

.m0a {
  display: block;
  margin: 0 auto;
}

.f_big {
  font-size: 250%;
}

.f_sm {
  font-size: 60%;
}

.color_m {
  color: var(--mcolor);
}

.color_yl {
  color: var(--yellow);
}

.color_or {
  color: var(--orange);
}

.color_pink {
  color: var(--pink);
}

.bg_m {
  background-color: var(--mcolor) !important;
}

.bg_yl {
  background-color: var(--yellow) !important;
}

.bg_or {
  background-color: var(--orange) !important;
}

.bg_pink {
  background-color: var(--pink) !important;
}

/*==========================================================
                       H E A D E R
==========================================================*/
header {
  position: relative;
  z-index: 99;
}

h1 {
  position: relative;
  top: 35px;
  transition: all ease .5s;
}

.h_box {
  width: 100%;
  position: fixed;
  background-color: transparent;
  transition: all .5 ease-in;

}

.h_inner {
  width: 2000px;
  padding: 16px 47px 0 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.h_contact {
  display: flex;
  align-items: center;
}

.h_contact_text {
  font-size: 14.58px;
  line-height: 1.7em;
  margin-top: 16px;
  margin-right: 25px;
}

.h_contact_social {
  display: flex;
  align-items: center;
  margin: 7px 14px 0 0;
}

.h_contact_social li a {
  width: 54px;
  height: 54px;
  border: 3px solid var(--txt);
  border-radius: 50%;
  margin-right: 7px;
  margin-top: 4px;
}

.h_contact>p {
  margin-bottom: 0;
}


.h_contact_mail {
  margin-left: 9px;
  margin-right: 4px;
}

.h_contact_mail a,
.ft_info_mail a {
  color: #FFF;
  font-weight: 500;
  text-align: center;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 70px;
  position: relative;
  border-radius: 35px;
  box-shadow: var(--shadow);
  transition: transform ease 0.5s;
}

.h_contact_mail a span,
.sp_contact .sp_contact_mail a span,
.ft_info_mail a span {
  position: relative;
  z-index: 2;
  font-size: 18px;
  display: inline-block;
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 5px;
  letter-spacing: 0.05em;
}

.h_contact_mail a span::before,
.sp_contact .sp_contact_mail a span:before,
.ft_info_mail a span::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 18px;
  left: 4px;
  top: calc(50% - 8px);
  background: url(../images/ic_h_mail.png) no-repeat center /cover;
}

.h_contact_mail a span::after,
.sp_contact .sp_contact_mail a span::after,
.ft_info_mail a span::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 16px;
  right: -12px;
  top: calc(50% - 7px);
  background: url(../images/ic_btn_ar.png) no-repeat center /cover;
}

.h_contact_tel {
  margin-right: 15px;
}

.h_contact_tel a,
.ft_info_tel a {
  font-size: 31px;
  color: var(--mcolor);
  font-weight: 500;
  position: relative;
  top: 6px;
  line-height: 1.5em;
  letter-spacing: -0.042em;
  text-align: left;
}

.h_contact_tel .time,
.ft_info_tel .time {
  font-size: 14px;
  display: block;
  line-height: 1.7;
  text-align: left;
  padding-left: 6px;
}


/* HAMBUGER BUTTON */
.hamburger {
  font: inherit;
  display: block;
  overflow: visible;
  margin: 0;
  padding: 10px 8px 5px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity, filter;
  text-transform: none;
  color: inherit;
  border: 0
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  position: absolute;
  width: 35px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000;
}

.hamburger-inner::after,
.hamburger-inner::before {
  display: block;
  content: "";
}

.hamburger-inner::before {
  top: -10px
}

.hamburger-inner::after {
  bottom: -10px
}

.hamburger--3dxy .hamburger-box {
  perspective: 80px
}

.hamburger--3dxy .hamburger-inner {
  transition: transform .15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0 cubic-bezier(0.645, 0.045, 0.355, 1) .1s
}

.hamburger--3dxy .hamburger-inner::after,
.hamburger--3dxy .hamburger-inner::before {
  transition: transform 0 cubic-bezier(0.645, 0.045, 0.355, 1) .1s
}

.hamburger--3dxy.is_active .hamburger-inner {
  transform: rotateX(180deg) rotateY(180deg);
  background-color: transparent !important
}

.hamburger--3dxy.is_active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--3dxy.is_active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--3dxy-r .hamburger-box {
  perspective: 80px
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform .15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0 cubic-bezier(0.645, 0.045, 0.355, 1) .1s
}

.hamburger--3dxy-r .hamburger-inner::after,
.hamburger--3dxy-r .hamburger-inner::before {
  transition: transform 0 cubic-bezier(0.645, 0.045, 0.355, 1) .1s
}

.hamburger--3dxy-r.is_active .hamburger-inner {
  transform: rotateX(180deg) rotateY(180deg) rotate(-180deg);
  background-color: transparent !important
}

.hamburger--3dxy-r.is_active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg)
}

.hamburger--3dxy-r.is_active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg)
}

/*==========================================================
                  M A I N    V I S U A L
==========================================================*/

main {
  position: relative;
  padding-top: 224px;
}

.mv {
  position: relative;
  padding: 0;
  max-width: 2000px;
  margin: 0 auto;
}

.mv::before {
  content: "";
  position: absolute;
  top: -987px;
  right: -360px;
  width: 1752px;
  height: 1206px;
  background: url(../images/main_visual_img02.png) center / cover no-repeat;
  z-index: -1;
}


.mv .inner::before {
  content: "";
  position: absolute;
  left: -274px;
  top: -32px;
  background: url(../images/main_visual_img01_1.png) center / cover no-repeat;
  width: 390px;
  height: 340px;
  z-index: -1;
}



.mv_bg {
  position: relative;
}

.mv_bg {
  width: 100%;
  height: 680px;
  position: relative;
  z-index: 6;
}

.mv_bg::before {
  content: "";
  position: absolute;
  left: -216px;
  bottom: 155px;
  background: url(../images/main_visual_img01_2.png) center / cover no-repeat;
  width: 300px;
  height: 184px;
  z-index: 1;
}

.mv_bg::after {
  content: "";
  position: absolute;
  right: -171px;
  top: -35px;
  background: url(../images/main_visual_img01_5.png) center / cover no-repeat;
  width: 418px;
  height: 326px;
  z-index: 1;
}

.mv_txt {
  width: 100%;
  height: auto;
}

.mv_txt::before {
  content: "";
  position: absolute;
  left: -145px;
  top: -105px;
  background: url(../images/main_visual_img01_3.png) center / cover no-repeat;
  width: 476px;
  height: 374px;
  z-index: -1;
}

.mv_txt h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.01em;
  font-family: var(--f-plus);
}

.mv .timeSheet {
  height: auto;
  z-index: 10;
}

.timeSheet_pic {
  margin-bottom: 0;
}

.timeSheet_text {
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  line-height: 1.5em;
  padding-left: 38px;
  position: relative;
  top: -15px;
}

/*==========================================================
                M A I N    C O N T E N T
==========================================================*/
/* DEFAULT TITLE */

.ja {
  font-family: var(--f-plus);
}

.en {
  font-family: var(--f-cv);
}

.ja .text {
  letter-spacing: -0.05em;
}


.title {
  text-align: center;
  font-weight: 500;
}

.sub_title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.45em;
  margin-bottom: 22px;
}

.title.gradient {
  font-size: 40px;
  position: relative;
  margin: 0 auto;
}

.title.gradient .en {
  position: absolute;
  background: -webkit-linear-gradient(0deg, #5DC1CF 18%, #CBE097 37.5319%, #FFEA00 74.2393%, #F5AC3C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 15px;
  transform: rotate(350deg);
}

.dect {
  letter-spacing: 0.03em;
  width: 100%;
}


/* DEFAUTL NAME BUTTON */
.btn a {
  width: 200px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/ic_btn_ar.png) no-repeat right 28px center / 15px var(--btn_color);
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  box-shadow: var(--shadow);
  font-family: var(--f-plus);
  font-weight: 500;
  letter-spacing: -0.05em;
  padding-right: 11px;
  border: 2px solid transparent;
}

.btn.center a {
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 40px 0 0;
}

.sc_temp .block {
  width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.sc_temp .title.gradient {
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.sc_temp .title.gradient .en {
  font-size: 200%;
  position: relative;
  line-height: 1.25em;
}

.sc_temp .dect {
  max-width: 684px;
  margin: 0 auto;
}

.sc_temp ul {
  max-width: 1220px;
  margin: 0 auto;
}

.sc_temp li {
  transition: all ease 0.5s;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.sc_temp li:hover {
  border-radius: 8px;
  transform: translate3d(0px, -10px, 10px);
  background-color: #fff;
}

.sc_temp li .pic {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  height: 200px;
  overflow: hidden;
}

.sc_temp li .badge {
  font-size: 13px;
  color: #fff;
  width: 84px;
  height: 25px;
  margin-right: 13px;
  border-radius: 13px;
  line-height: 2em;
  letter-spacing: 0.05em;
  text-align: center;
}

.sc_temp li .top,
.sc_temp li .bt {
  letter-spacing: -0.05em;
  font-weight: 600;
}

.sc_temp li .top {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.sc_temp li .bt {
  font-size: 16px;
  text-align: left;
  line-height: 1.7em;
}

.sc_temp_btn a {
  margin: 0 auto;
  margin-top: 30px;
}

.sc_temp .slick-dots li button::before {
  color: var(--mcolor);
  font-size: 10px;
}
.slick-dots li.slick-active button::before {
  color: var(--btn_color);
}

/* use private */
/*==================== SEC01 ===================*/
.sec01 .inner::before {
  content: "";
  position: absolute;
  right: -115px;
  bottom: -147px;
  width: 134px;
  height: 200px;
  background: url(../images/sec01_img04.png) center / cover no-repeat;
}

.sec01 .container::before {
  content: "";
  position: absolute;
  top: 106px;
  left: 0;
  width: 100%;
  height: 614px;
  background: url(../images/sec01_img01.png) center / cover no-repeat;
}

.sec01 .title::before {
  content: "";
  position: absolute;
  left: -99px;
  top: 16px;
  background: url(../images/sec01_img03.png) center / cover no-repeat;
  width: 328px;
  height: 172px;
}

.sec01 .en {
  font-size: 232.5%;
  left: calc(50% - 278px);
  top: -66px;
  letter-spacing: 0.03em;
}

.sec01 .num {
  font-size: 60px;
  letter-spacing: 0em;
  line-height: 0.03em;
}

.sec01 .f_big {
  font-size: 167%;
  letter-spacing: -0.06em;
  line-height: 1.056em;
}

.sec01 .text {
  display: block;
  line-height: 1.45em;
  margin-top: -12px;
}

.sec01 .map {
  border: 4px solid #fff;
  overflow: hidden;
}

.sec01 .map_note {
  margin-top: 8px;
  padding-left: 30px;
  position: relative;
  margin-bottom: 22px;
  text-align: left;
}

.sec01 .map_note::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  width: 17px;
  height: 30px;
  background: url(../images/ic_map.png) center / cover no-repeat;
}

.sec01 .right .btn {
  padding-right: 5px;
}

.sec01 .right .btn a {
  margin: 0 auto;
  width: 270px;
  background: url(../images/ic_btn_ar.png) no-repeat right 20px center / 15px var(--btn_color);
}

.sec01 .right .btn a:hover {
  background: url(../images/ic_btn_ar_black.svg) no-repeat right 20px center / 15px;

}


/*==================== SEC02 ===================*/
.sec02 {
  padding: 184px 0 0;
}

.sec02 .en {
  font-size: 157.5%;
  top: -60px;
  left: calc(50% - 137px);
}

.sec02 .list {
  width: 100%;
  margin: 32px 0 72px;
}

.sec02 .item {
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 380px;
  height: 200px;
  transition: all ease 0.5s;
  z-index: 2;
  position: relative;
}

.sec02 .item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.sec02 .item .pic {
  margin-bottom: 0;
}

.sec02 .item .content {
  flex: 1;
  padding: 30px 10px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec02 .item .sub_text {
  font-size: 13px;
  line-height: 1.9em;
  width: 84px;
  height: 26px;
  color: #fff;
  border-radius: 13px;
  margin: 0 0 13px 4px;
}

.sec02 .item .text {
  font-size: 16px;
  line-height: 1.56em;
  text-align: left;
  margin: 0px 0 0px;
  letter-spacing: -0.06em;
  font-weight: 600;
}

.sec02 .item .quantity {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: var(--f-plus);
}

.sec02 .btn a {
  margin: 0 auto;
}

/*==================== SEC03 ===================*/
.sec03 .inner {
  z-index: 3;
}

.sec03 .container {
  overflow: hidden;
}

.sec03_top,
.sec03_center,
.sec03_bt {
  position: relative;
}

.sec03_top::before {
  content: "";
  position: absolute;
  left: -431px;
  top: 161px;
  background: url(../images/sec03_img01.png) center / cover no-repeat;
  width: 2458px;
  height: 1836px;
}

.sec03_center::before {
  content: "";
  position: absolute;
  right: -290px;
  top: -484px;
  background: url(../images/sec03_img02.png) center / cover no-repeat;
  width: 2520px;
  height: 1714px;
  z-index: 2;
}

/*  sec03_top */

.sec03_top .title.gradient {
  font-size: 26px;
  text-align: left;
  font-weight: bold;
  padding-top: 190px;
  position: relative;
}

.sec03_top .title.gradient::before {
  content: "";
  position: absolute;
  left: 236px;
  top: 28px;
  background: url(../images/ic_elphant_yl.png) center / cover no-repeat;
  width: 318px;
  height: 190px;
}

.sec03_top .en {
  font-size: 423%;
  left: -138px;
  bottom: 18px;
}

.sec03_top .ja .text {
  line-height: 2.2em;
}

.sec03_top .block_01 {
  display: flex;
  margin-top: 45px;
  position: relative;
  z-index: 2;
}

.sec03_top .left,
.sec03_top .right {
  position: relative;
}

.sec03_top .block_01 .left::before {
  content: "";
  position: absolute;
  left: -158px;
  bottom: -144px;
  background: url(../images/sec03_img01_1.png) center / cover no-repeat;
  width: 242px;
  height: 242px;
  z-index: -1;
}

.sec03_top .left .char_01 {
  margin-left: -21px;
  margin-right: 0;
}

.sec03_top .left .char_02 {
  letter-spacing: -1em;
}

.sec03_top .left .text {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
/*  sec03_center */

.sec03_center .title {
  color: #fff;
  padding-top: 232px;
}

.sec03_center .ja {
  font-weight: 500;
}

.sec03_center .text_top {
  font-size: 40px;
  margin-bottom: 12px;
  line-height: 1.45em;
  position: relative;
}

.sec03_center .text_top::before {
  content: "";
  position: absolute;
  left: -206px;
  top: -115px;
  background: url(../images/sec03_img04.png) center / cover no-repeat;
  width: 218px;
  height: 156px;
}

.sec03_center .text_bottom {
  font-size: 70px;
  line-height: 0.8em;
  letter-spacing: 0.04em;
  display: inline-block;
  padding-left: 14px;
  position: relative;
}

.sec03_center .text_bottom::before {
  content: "";
  position: absolute;
  left: -51px;
  top: -2px;
  background: url(../images/sec03_img05.png) center / cover no-repeat;
  width: 40px;
  height: 100px;
}

.sec03_center .text_bottom::after {
  content: "";
  position: absolute;
  right: -47px;
  top: -2px;
  background: url(../images/sec03_img05.png) center / cover no-repeat;
  width: 40px;
  height: 100px;
  transform: rotate(180deg);
}

.sec03_center .text_bottom .color_yl {
  font-size: 164%;
  line-height: 0.5em;
}

/*  sec03_bt */
.sec03_bt::before {
  content: "";
  position: absolute;
  left: -506px;
  top: 63px;
  background: url(../images/sec03_img03.png) center / cover no-repeat;
  width: 2840px;
  height: 1788px;
}

.sec03_bt .content {
  width: 1366px;
  margin: 0 auto;
  padding: 76px 0 40px;
  display: flex;
  z-index: 2;
  position: relative;

}

.sec03_bt .content::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(50% - 2px);
  top: calc(42% - 5px);
  background: url(../images/sec03_bottom08.png) center / cover no-repeat;
  width: 262px;
  height: 1054px;
}

.sec03_bt .content .left,
.sec03_bt .content .right {
  width: 50%;
}

.sec03_bt .item {
  width: 100%;
  margin-bottom: 60px;
}

.sec03_bt .item.it_01 {
  position: relative;
}

.sec03_bt .item.it_01::before {
  content: "";
  position: absolute;
  left: -74px;
  top: -42px;
  background: url(../images/ic_gecko_wh.png) center / cover no-repeat;
  width: 260px;
  height: 160px;
}

.sec03_bt .it_03 .pic {
  position: relative;
  left: 17px;
  top: -44px;
}

.sec03_bt .it_04 {
  margin-bottom: 74px;
}

.sec03_bt .it_04 .pic {
  position: relative;
  right: -140px;
  top: -2px;
}

.sec03_bt .item .top {
  position: relative;
}

.sec03_bt .right .item .top,
.sec03_bt .right .item .bottom {
  float: right;
}

.sec03_bt .top .title {
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
}

.sec03_bt .left .top .title {
  right: -12px;
  top: 43px;
}

.sec03_bt .right .top .title {
  left: -100px;
  top: 0px;
}

.sec03_bt .right .it_06 .top .title {
  top: 10px;
  padding-right: 27px;
}

.sec03_bt .top .title::before {
  content: "";
  position: absolute;
  background: url(../images/sec03_bottom07.png) center / cover no-repeat;
  width: 58px;
  height: 50px;
}

.sec03_bt .left .top .title::before {
  right: 18px;
  top: 6px;
}

.sec03_bt .right .top .title::before {
  left: -5px;
  top: 39px;
  transform: rotate(265deg);
}

.sec03_bt .it_02 .top .title::before {
  right: 4px;
  top: 19px;
  transform: rotate(9deg);
}

.sec03_bt .top .en {
  font-size: 76%;
  color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 7px;
  left: 60px;
  transform: rotate(350deg);
  letter-spacing: 0.04em;
}

.sec03_bt .it_02 .top .en {
  left: 97px;
  top: 12px;
}

.sec03_bt .it_05 .top .en {
  top: 12px;
}

.sec03_bt .top .ja {
  line-height: 1.624em;
  position: relative;
  top: 19px;
  margin-bottom: 11px;
}

.sec03_bt .it_02 .top .ja {
  top: 24px;
  margin-bottom: 30px;
}

.sec03_bt .it_05 .top .ja {
  margin-bottom: 30px;
  top: 33px;
}

.sec03_bt .it_06 .top .ja {
  top: 35px;
  left: 14px;
  margin-bottom: 26px;
}

.sec03_bt .bottom .dect {
  color: #fff;
  text-align: left;
}

.sec03_bt .bottom .btn a {
  margin: 0 auto;
}

/*==================== SEC04 ===================*/
.sec04 {
  padding: 55px 0 0 0;
  position: relative;

}

.sec04::before {
  content: "";
  position: absolute;
  top: -170px;
  left: 0;
  background: url(../images/sec04_img01.png) no-repeat center;
  width: 100%;
  height: 3314px;
  z-index: -1;
}

.sec04 .block {
  background-color: #fff;
  border-radius: 100px;
  padding-top: 78px;
  padding-bottom: 150px;
  position: relative;
}

.sec04 .top {
  position: relative;
}

.sec04 .top .title {
  font-size: 46px;
  letter-spacing: 0.01em;
  line-height: 1.34em;
  padding-left: 102px;
  position: relative;
}

.sec04 .top .title::before {
  content: "";
  position: absolute;
  top: -125px;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
}

.sec04 .top .title::after {
  content: "";
  position: absolute;
  left: calc(50% - 45px);
  top: -95px;
  background: url(../images/sec04_img08.png) center / cover no-repeat;
  width: 86px;
  height: 56px;
}

.sec04 .top .num {
  font-size: 250%;
  letter-spacing: 0.05em;
  line-height: 0.5em;
  position: absolute;
  left: 25px;
  top: -20px;
}

.sec04 .top .num::before {
  content: "";
  position: absolute;
  left: -22px;
  top: -41px;
  background: url(../images/sec04_img06.png) center / cover no-repeat;
  width: 54px;
  height: 54px;
}

.sec04 .top .list {
  width: 474px;
  height: 474px;
  left: 3px;
  margin-top: 109px;
  margin-bottom: 96px;
}

.sec04 .top .list .item_01 {
  top: -90px;
  left: calc(50% - 100px);
}

.sec04 .top .list .item_02 {
  top: 78px;
  right: -84px;
}

.sec04 .top .list .item_03 {
  bottom: -54px;
  right: -21px;
}

.sec04 .top .list .item_04 {
  bottom: -49px;
  left: -8px;
}

.sec04 .top .list .item_05 {
  top: 66px;
  left: -94px;
}

.sec04 .top .list .item_06 {
  top: calc(50% - 111px);
  left: calc(50% - 74px);
}

.sec04 .bottom {
  padding-top: 60px;
}

.sec04 .bottom h4{
  line-height: 2em;
}

.sec04 .bottom .title.gradient::before {
  content: "";
  position: absolute;
  left: 65px;
  top: 47px;
  background: url(../images/sec04_img10.png) center / cover no-repeat;
  width: 420px;
  height: 10px;
}

.sec04 .bottom .title.gradient::after {
  content: "";
  position: absolute;
  right: 53px;
  top: 40px;
  background: url(../images/sec04_img11.png) center / cover no-repeat;
  width: 420px;
  height: 10px;
}

.sec04 .bottom .en {
  font-size: 245%;
  position: relative;
  left: -4px;
}

.sec04 .bottom .ja {
  letter-spacing: -0.03em;
  display: block;
  margin-top: 20px;
  line-height: 1.4em;
}

.sec04 .bottom .content {
  display: flex;
}

.sec04 .bottom .content .left {
  position: relative;
  width: 40%;
}

.sec04 .bottom .content .right {
  width: 60%;
  position: relative;
}

.sec04 .bottom .content .right::before {
  content: "";
  position: absolute;
  right: -37px;
  bottom: -114px;
  background: url(../images/sec04_ic_duck.png) center / cover no-repeat;
  width: 138px;
  height: 212px;
}

.sec04 .bottom .item_06 {
  top: -77px;
  left: 158px;
}

.sec04 .bottom .item_07 {
  right: -84px;
  top: -3px;
}

.sec04 .bottom .item_08 {
  right: -108px;
  bottom: 133px;
}

.sec04 .bottom .item_09 {
  bottom: -58px;
  right: -14px;
}

.sec04 .bottom .item_10 {
  bottom: -59px;
  left: -4px;
}

.sec04 .bottom .item_11 {
  left: -98px;
  bottom: 125px;
}

.sec04 .bottom .item_12 {
  top: -10px;
  left: -55px;
}

.sec04 .bottom .item_13 {
  top: 120px;
  left: 94px;
}

/*==================== SEC05 ===================*/
.sec05 {
  position: relative;
}

.sec05:before {
  content: "";
  position: absolute;
  left: 0;
  top: 166px;
  background: url(../images/sec05_img02.png) center no-repeat;
  width: 100%;
  height: 890px;
}

.sec05 .container {
  overflow: hidden;
  padding-bottom: 100px;
}

.sec05_top,
.sec05_center,
.sec05_btn {
  position: relative;
}

.sec05_top::before {
  content: "";
  position: absolute;
  left: -150px;
  bottom: 4px;
  background: url(../images/sec05_img03.png) center / contain no-repeat;
  width: 2226px;
  height: 486px;
  z-index: 1;
}

.sec05 .content {
  width: 1366px;
  margin: 0 auto;
  position: relative;
}

.sec05 .title.gradient .en {
  font-size: 396%;
  line-height: 0;
  position: relative;
  left: -20px;
  top: 12px;
}

.sec05 .title.gradient .ja {
  letter-spacing: -0.02em;
  position: relative;
}

.sec05 .title.gradient .ja::before {
  content: "";
  position: absolute;
  bottom: -46px;
  left: -60px;
  background: url(../images/sec05_img01.png) center / cover no-repeat;
  width: 376px;
  height: 88px;
}

.sec05_top .block {
  position: relative;
  display: flex;
  padding-top: 125px;
  padding-left: 135px;
  justify-content: space-between;
  z-index: 2;
}

.sec05_top .left,
.sec05_top .right {
  position: relative;
}

.sec05_top .left::before {
  content: "";
  position: absolute;
  left: -93px;
  top: -93px;
  width: 368px;
  height: 352px;
  background: url(../images/sec05_img04.png) center / cover no-repeat;
  z-index: -1;
}

.sec05_top .left::after {
  content: "";
  position: absolute;
  left: -87px;
  bottom: -18px;
  background: url(../images/ic_elphant_yl.png) center / cover no-repeat;
  width: 318px;
  height: 190px;
  z-index: 2;
  transform: rotateY(180deg);
}

.sec05_top .left .dect {
  max-width: 634px;
}

.sec05_top .left .btn {
  margin-top: 40px;
}

.sec05_top .right {
  flex: 1;
}

.sec05_top .right::after {
  content: "";
  position: absolute;
  right: -126px;
  top: -65px;
  width: 622px;
  height: 414px;
  background: url(../images/sec05_img06.png) center / cover no-repeat;
  z-index: -1;
}

.sec05_center {
  position: relative;
}

.sec05_center::before {
  content: "";
  position: absolute;
  left: 0;
  top: -142px;
  background: url(../images/sec05_img07.png) center / cover no-repeat;
  width: 100%;
  height: 854px;
}

.sec05_center .content {
  padding-top: 106px;
  position: relative;
}

.sec05_center .content .box_text {
  content: "";
  position: absolute;
  top: -127px;
  left: 451px;
  z-index: 3;
}

.sec05_center .content>.pic {
  content: "";
  position: absolute;
}

.sec05_center .title {
  font-size: 60px;
  letter-spacing: -0.05em;
  line-height: 1.56em;
  position: relative;
  display: block;
}

.sec05_center .title .dif {
  position: absolute;
  font-size: 20px;
  bottom: 54px;
  left: 290px;
  letter-spacing: 0em;
}

.sec05_center .title.ttl_01 {
  margin-bottom: 0;
}

.sec05_center .title.ttl_02 {
  letter-spacing: 0em;
  line-height: 1em;
  margin-bottom: 20px;
}

.sec05_center .title .f_sm {
  font-size: 80%;
  letter-spacing: -0.07em;
}

.sec05_center .title.ttl_02 .f_sm {
  letter-spacing: -0.03em;
}

.sec05_center .btn {
  margin-top: 15px;
}

/* sec05_bt */
.sec05_bt {
  position: relative;
  padding-top: 157px;
}

.sec05_bt::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 54px;
  background: url(../images/sec05_img13.png) center / cover no-repeat;
  width: 100%;
  height: 1236px;
}

.sec05_bt .title {
  font-size: 50px;
  line-height: 1.32em;
  color: #fff;
  margin-bottom: 17px;
  position: relative;
}

.sec05_bt .title::before {
  content: "";
  position: absolute;
  top: 70px;
  right: -52px;
  background: url(../images/ic_mouse_wh.png) center / cover no-repeat;
  width: 206px;
  height: 114px;
}

.sec05_bt .dect {
  color: #fff;
  max-width: 804px;
  margin: 0 auto;
}

.sec05_bt .list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sec05_bt .l_02 {
  position: relative;
}

.sec05_bt li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 6;
}

.sec05_bt li a {
  display: inline-block;
  position: relative;

}

.sec05_bt .it_01 a::before,
.sec05_bt .it_05 a::before,
.sec05_bt .it_06 a::before {
  content: "";
  position: absolute;
  background: url(../images/sec05_img20.png) center / cover no-repeat;
  z-index: -1;
  width: 190px;
  height: 184px;
}

.sec05_bt li .wrap_text {
  width: 170px;
  height: 132px;
  position: absolute;
  background: url(../images/sec05_btn_pink.png);
  right: -111px;
  top: -6px;
  color: #fff;
}

.sec05_bt .l_02 li .wrap_text {
  background: url(../images/sec05_btn_blue.png);
  left: -108px;
  bottom: -10px;
  top: inherit;
}

.sec05_bt li .wrap_text .text {
  width: 100%;
  height: 100%;
  background: url(../images/sec05_btn_ar.png) no-repeat bottom 28px center / 25px transparent;
  box-shadow: none;
  padding: 0;
  text-align: center;
  line-height: 1em;
  font-size: 20px;
  padding-bottom: 30px;
}

/*==================== SEC06 ===================*/
.sec06 .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: -90px;
  background: url(../images/sec06_img01.png) center / cover no-repeat;
  width: 100%;
  height: 1148px;
}

.sec06 .title.gradient {
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.sec06 .title.gradient .en {
  font-size: 200%;
  position: relative;
  line-height: 1.25em;
}

.sec06 .block {
  width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.sec06 .title.gradient::before {
  content: "";
  position: absolute;
  left: 156px;
  bottom: -113px;
  background: url(../images/sec06_ic_duck.png) center / cover no-repeat;
  width: 130px;
  height: 192px;
}

.sec06 .dect {
  max-width: 684px;
  margin: 0 auto;
}

.sec06 .list_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 26px;
  padding-top: 0;
}

.sec06 .list_tab .tab {
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
}

.sec06 .list_tab .tab a {
  width: 230px;
  height: 58px;
  border-radius: 29px;
  background-color: #fff;
  color: var(--txt);
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  font-family: var(--f-plus);
  font-weight: 500;
  letter-spacing: -0.05em;
  padding-right: 11px;
  border: 3px solid transparent;
  pointer-events: none;
}

.sec06 .list_tab .tab:not(:last-child) a {
  margin-right: 12px;
}

.sec06 .list_tab .tab.active a {
  border: 3px solid #5DC2D0;
  color: #5DC2D0;
  position: relative;
}

.sec06 .list_tab .tab:hover a {
  border-color: #5DC2D0;
  color: #5DC2D0;
  background: #fff;
  transform: none;
}

.sec06 .list_tab .tab.active a::before {
  content: "";
  position: absolute;
  left: calc(50% - 8px);  
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 7px 0 7px;
  border-color: #5DC2D0 transparent transparent transparent;
}

.sec06_pic {
  display: inline-block;
}

.sec06_pic img {
  filter: drop-shadow(4px 4px 0px rgb(130 59 32 / 20%));
}

.sec06 .slick-list {
  padding:  0;
}

.sec06 .slick-track {
  padding-top: 30px;
}

/*==================== SEC07 ===================*/
.sec07 {
  position: relative;
  padding-top: 105px;
}

.sec07 .container {
  overflow: hidden;
  padding-top: 424px;
}

.sec07 .container::before {
  content: "";
  position: absolute;
  top: -466px;
  right: -507px;
  width: 1752px;
  height: 1206px;
  background: url(../images/main_visual_img02.png) left no-repeat;
  z-index: -1;
}

.sec07_top .title.gradient .en {
  font-size: 258%;
  position: relative;
  line-height: 0;
  letter-spacing: 0.03em;
}


.sec07_top .title.gradient .ja {
  line-height: 0;
  letter-spacing: -0.02em;
}

.sec07 .block {
  position: relative;
}

.sec07 .block .content {
  width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.sec07 .bl_02 .content {
  justify-content: flex-end;
}

.sec07 .block .wraper {
  color: #fff;
  width: 706px;
  height: 426px;
  margin: 64px 0px 0 19px;
  padding: 114px 111px 0 95px;
  position: relative;
}

.sec07 .bl_01 .wraper {
  background: url(../images/sec07_img02.png) no-repeat center /100% 100%;
}

.sec07 .bl_02 .wraper {
  width: 702px;
  height: 438px;
  margin: 106px 12px 0 0px;
  padding: 88px 94px 0 108px;
  background: url(../images/sec07_img05.png) no-repeat center /100% 100%;
}


.sec07 .block .wraper::after {
  content: " ";
  position: absolute;
  z-index: 1;
}

.sec07 .bl_01 .wraper::after {
  left: -52px;
  top: -17px;
  background: url(../images/ic_geko_green.png) center / cover no-repeat;
  width: 206px;
  height: 214px;
  z-index: 1;
}

.sec07 .bl_02 .wraper::after {
  right: -215px;
  bottom: -101px;
  background: url(../images/ic_elphant_yl.png) center / contain no-repeat;
  width: 268px;
  height: 162px;
  z-index: 1;
}

.sec07 .block .wraper .sub_title {
  position: relative;
  margin-bottom: 16px;
}

.sec07 .bl_02 .wraper .sub_title {
  text-align: center;
  line-height: .8em;
}

.sec07 .bl_02 .wraper .sub_title .f_sm {
  font-size: 60%;
  position: relative;
  bottom: 3px;
  line-height: 0;
}

.sec07 .block .wraper .sub_title::before {
  content: "";
  position: absolute;
  top: -13px;
  background: url(../images/sec03_img05.png) center / contain no-repeat;
  width: 40px;
  height: 80px;
}

.sec07 .block .wraper .sub_title::after {
  content: "";
  position: absolute;
  top: -13px;
  background: url(../images/sec03_img05.png) center / contain no-repeat;
  width: 40px;
  height: 80px;
  transform: rotate(180deg);
}

.sec07 .bl_01 .wraper .sub_title::after {
  right: 110px;
}

.sec07 .bl_02 .wraper .sub_title::after {
  right: 34px;
}

.sec07 .block .wraper .btn {
  padding-right: 32px;
}

.sec07 .bl_02 .wraper .btn {
  padding-top: 11px;
  float: right;
}

.sec07 .block .wraper .btn a {
  margin: 0 auto;
}

.sec07 .bl_03 {
  padding: 0 52px;
  margin-top: 134px;

}

.sec07 .bl_03 .top {
  background-color: #FDF3F5;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.sec07 .bl_03 .top .inner::before {
  content: "";
  position: absolute;
  left: -77px;
  top: -75px;
  background: url(../images/sec07_ic_mouse.png) center / cover no-repeat;
  width: 208px;
  height: 106px;
}

.sec07 .bl_03 .top .left {
  width: 50%;
  padding-top: 102px;
  padding-right: 88px;
}

.sec07 .bl_03 .top .en {
  font-size: 125%;
  color: #f8ced6;
  transform: rotate(-9deg);
  letter-spacing: 0.03em;
  position: absolute;
  top: -44px;
  left: 154px;
}

.sec07 .bl_03 .top .sub_title {
  text-align: right;
  padding-right: 48px;
  letter-spacing: -0.05em;
  position: relative;
  color: var(--pink);
  z-index: 2;
}

.sec07 .bl_03 .top .sub_title::before {
  content: "";
  position: absolute;
  width: 124px;
  height: 110px;
}

.sec07 .bl_03 .top .sub_title::before {
  left: 53px;
  top: -46px;
  background: url(../images/sec07_item01.png);
  z-index: -1;
}

.sec07 .bl_03 .btn a {
  margin: 0 auto;
}

.sec07 .bl_03 .top .right {
  width: 50%;
}

.sec07 .bl_03 .bt {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}

.sec07 .bl_03 ul li {
  width: calc(100% / 4);
  padding-top: 23px;
  height: 470px;
  align-items: center;
}

.sec07 .bl_03 ul li .sub_title {
  text-align: center;
  margin-bottom: 16px;
  position: relative;
  font-family: var(--f-plus);
  font-weight: 500;
}

.sec07 .bl_03 ul li .sub_title .f_dif{
  font-size: 80%;
}

.sec07 .bl_03 ul li .sub_title .f_sm {
  position: absolute;
  font-size: 37.5%;
  bottom: 0;
  line-height: 0;
  left: 50px;
  font-weight: 500;
}

.sec07 .bl_03 ul li .dect {
  padding: 0 35px;
}

.sec07 .bl_03 ul .green {
  background-color: #EEF8F3;
}

.sec07 .bl_03 ul .or {
  background-color: #FEF7EB;
}

.sec07 .bl_03 ul .green {
  border-top: 4px solid var(--mcolor);
}

.sec07 .bl_03 ul .or {
  border-top: 4px solid var(--orange);
}

.sec07 .bl_03 ul li .btn {
  margin-top: 23px;
}

/*==================== SEC08 ===================*/
.sec08 .title.gradient {
  margin-bottom: 13px;
}

.sec08 .title.gradient .en {
  font-size: 250%;
  top: -117px;
  left: 383px;
}

.sec08 .dect {
  margin: 0 auto;
}

.sec08 .btn {
  width: 100%;
  margin-top: 17px;
}

.sec08 .btn a {
  margin: 0 auto;
}

/*==================== SEC09 ===================*/
.sec09 .container {
  min-height: 604px;
  overflow: hidden;
  background: url(../images/sec09_img01.png) center no-repeat;
}

.sec09 .left,
.sec09 .right {
  position: relative;
  width: 50%;
}

.sec09 .sub_title {
  color: #fff;
  position: relative;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 14px;
}

.sec09 .sub_title .en {
  position: absolute;
  font-size: 200%;
  color: #FFEA00;
  transform: rotate(-9deg);
  letter-spacing: 0.03em;
  top: -58px;
  left: 33px;
  font-weight: 400;
}

.sec09 .left::before {
  content: "";
  position: absolute;
  left: -309px;
  top: 61px;
  background: url(../images/sec09_img02.png) center / cover no-repeat;
  width: 454px;
  height: 542px;
}

.sec09 .dect {
  color: #fff;
}

.sec09 .left .btn {
  margin-top: 39px;
  padding-right: 20px;
}

.sec09 .left .btn a {
  margin: 0 auto;
}

.sec09 .right {}

.sec09 .right .pic {
  position: absolute;
}

.sec09 .right .p_01 {
  top: 37px;
  left: 88px;
}

.sec09 .right .p_02 {
  position: absolute;
  right: -184px;
  bottom: -63px;
}

.sec09 .right .p_03 {
  position: absolute;
  bottom: -116px;
  left: -22px;
}

.sec09 .right .pic span {
  position: absolute;
  font-size: 20px;
  letter-spacing: -0.05em;
  z-index: 2;
  color: #fff;
}

.sec09 .right .p_01 span {
  bottom: 3px;
  right: 4px;
}

.sec09 .right .p_02 span {
  bottom: 1px;
  right: 55px;
}

.sec09 .right .p_03 span {
  top: 74px;
  right: -35px;
}

/*==================== SEC10 ===================*/
.sec10 {}

.sec10 .container {
  overflow: hidden;
  padding-bottom: 64px;
}

.sec10 .container::before {
  content: "";
  position: absolute;
  left: -182px;
  top: 102px;
  background: url(../images/sec10_img01.png) center / cover no-repeat;
  width: 1288px;
  height: 1380px;
}

.sec10 .container::after {
  content: "";
  position: absolute;
  right: -315px;
  bottom: -254px;
  background: url(../images/sec10_img10.png) center / cover no-repeat;
  width: 1288px;
  height: 1380px;
  z-index: -1;
}

.sec10 .content {
  width: 1366px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.sec10_top {}

.sec10_top .content::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 8px;
  background: url(../images/ic_elphant_yl.png) center / contain no-repeat;
  width: 310px;
  height: 186px;
  transform: rotateY(180deg);
}

.sec10_top .left {
  width: calc(50% + 50px);
  padding: 140px 0px 0 70px;
}

.sec10_top .title.gradient {
  text-align: right;
  letter-spacing: -0.03em;
  margin-bottom: 26px;
  padding-right: 35px;
}

.sec10_top .title.gradient .en {
  font-size: 250%;
  top: -118px;
  right: 20px;
  letter-spacing: 0.03em;
}

.sec10_top .dect .dif {
  margin-top: 20px;
  display: block;
}

.sec10_top .left .wrap_btn {
  margin-top: 46px;
  padding-right: 8px;
}

.sec10_top .right {
  flex: 1;
}

.sec10_top .right .pic {
  position: absolute;
  top: 40px;
  right: -65px;
}

.sec10_center {
  margin-top: 52px;
  padding: 0 0px 0 20px;
}

.sec10_center .pic {
  position: relative;
}

.sec10_center .p_01::before {
  content: "";
  position: absolute;
  left: -101px;
  bottom: 4px;
  z-index: 2;
  background: url(../images/sec10_ic_dot.png) center/ cover no-repeat;
  width: 190px;
  height: 184px;
}

.sec10_center .p_03 {
  position: relative;
  top: 27px;
  left: 6px;
}

.sec10_bt {
  margin-top: 15px;
}

.sec10_bt .content {
  padding-left: 24px;
}

.sec10_bt .pic_link {
  margin-bottom: 30px;
  text-align: center;
}

.sec10_bt .pic_link a {
  display: inline-block;
  margin: 0 auto;
}

.sec10_bt .pic_link.dif {
  margin-bottom: 12px;
}

.sec10_bt .pic_link.dif a {
  position: relative;
  top: -21px;
  left: -4px;
}

/*==================== SEC11 ===================*/
.sec11 .container {
  padding-top: 10px;
}

.sec11 .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: -87px;
  background: url(../images/sec11_bg.png) center / cover no-repeat;
  width: 100%;
  height: 888px;
}

.sec11 .title.gradient {
  letter-spacing: -0.035em;
  padding-left: 14px;
}

.sec11 .title.gradient::before {
  content: "";
  position: absolute;
  left: -72px;
  bottom: -72px;
  background: url(../images/sec11_ic_fish.png) center / cover no-repeat;
  width: 328px;
  height: 198px;
}

.sec11 .title.gradient .en {
  letter-spacing: 0.03em;
  left: 7px;
  top: 2px;
}

.sec11 ul .slick-track{
  padding-top: 36px;

}

/*==========================================================
                        F O O T E R
==========================================================*/
footer {
  position: relative;
  z-index: 3;
}

.ft_top {
  padding-top: 150px;
}

/* FOOTER INFORMATION */

.ft_info .inner {}

.ft_info .inner:before {
  content: "";
  position: absolute;
  left: 273px;
  top: 7px;
  width: 1px;
  height: 300px;
  background-color: #CCCCCC;
}

.ft_info .inner::after {
  content: "";
  position: absolute;
  right: 495px;
  top: 7px;
  width: 1px;
  height: 300px;
  background-color: #CCCCCC;
}


.ft_info_logo {
  padding: 28px 0px 0 2px;
}

.ft_wrap {
  align-items: center;
  padding-left: 40px;
  padding-top: 70px;
}

.ft_info_tel {
  margin-bottom: 10px;
}

.ft_info_tel a {
  margin-left: 8px;
}

.ft_info_tel .time {
  line-height: 2em;
  font-size: 15px;
  letter-spacing: 0.08em;
  padding-left: 0;
}

.ft_wrap .ft_info_mail a {
  width: 290px;
}

.ft_ts .timeSheet_text {
  margin-bottom: 5px;
}

.ft_ts .note {
  padding-left: 38px;
  line-height: 1.5em;
  padding-right: 1px;
}

.ft_ts .note span {
  font-size: 14px;
}

.ft_ts .note .top {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  margin-bottom: 4px;
}

.ft_ts .note .top:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 1px;
  background: url(../images/ic_bus.png) center / cover no-repeat;
  width: 20px;
  height: 18px;
}

.ft_social {
  margin-top: 57px;
  background-color: #FEF7EB;
  position: relative;
}

.ft_social .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  z-index: 2;
}

.ft_social .inner::before {
  content: "";
  position: absolute;
  left: 50px;
  top: -49px;
  background: url(../images/ft_ic_dot.png) center / cover no-repeat;
  width: 190px;
  height: 186px;
  z-index: -1;
}

.ft_social .inner::after {
  content: "";
  position: absolute;
  right: -134px;
  bottom: -58px;
  background: url(../images/ic_elphant_yl.png) center / cover no-repeat;
  width: 268px;
  height: 160px;
}

.ft_social .sub_title {
  margin-right: 20px;
  letter-spacing: 0.05em;
}

.ft_social .wrap_btn {
  display: flex;
}

.ft_social .wrap_btn .ft_fb {
  margin-right: 10px;
}

.ft_social .wrap_btn .ft_btn a {
  width: 300px;
  height: 80px;
  border-radius: 40px;
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  padding-left: 15px;
  font-weight: 500;
  transition: transform ease 0.5s;
}

.ft_social .wrap_btn .ft_fb a {
  background-color: #1877F2;
}


.ft_social .wrap_btn .ft_ins a {
  background: linear-gradient(-120deg, #F4B964 0%, #E96440 29.3296%, #AE3487 65.0838%, #4F51A0 100%);
  padding-left: 20px;
  letter-spacing: -0.03em;
}

.ft_social .wrap_btn .ft_btn a::before {
  content: "";
  position: absolute;
  left: 58px;
  top: 24px;
  height: 32px;
}

.ft_social .wrap_btn .ft_fb a::before {
  background: url(../images/ic_fb_wh.png) center / cover no-repeat;
  width: 17px;
}

.ft_social .wrap_btn .ft_ins a::before {
  background: url(../images/ic_ins_wh.png) center / cover no-repeat;
  width: 33px;
  left: 45px;
}

.ft_social .wrap_btn .ft_btn a::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 32px;
  background: url(../images/ic_btn_ar.png) center / cover no-repeat;
  width: 15px;
  height: 16px;
}

.ft_cld {
  margin-top: 34px;
}

.ft_cld .sub_title {
  position: relative;
  top: 22px;
  text-align: center;
}

.ft_cld .sub_title::before {
  content: "";
  position: absolute;
  left: calc(50% - 79px);
  top: 7px;
  background: url(../images/ft_ic_star.png) center / cover no-repeat;
  width: 32px;
  height: 36px;
}

.ft_cld .sub_title::after {
  content: "";
  position: absolute;
  right: calc(50% - 79px);
  top: 7px;
  background: url(../images/ft_ic_star.png) center / cover no-repeat;
  width: 32px;
  height: 36px;
  transform: rotate(180deg);
}

.ft_cld_box {
  width: 580px;
  height: 400px;
}

.ft_cld_box iframe{
  width: 100%;
  height: 100%;
}

.ft_map {
  width: 100%;
  margin-top: 74px;
}

.ft_map_iframe {
  width: 100%;
  height: 400px;
}

.ft_map_iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

/* FOOTER LINK */
.ft_link {
  padding-top: 144px;
}

.ft_link .inner {
  display: flex;
  justify-content: space-between;
}

.ft_link ul {
  position: relative;
}

.ft_link .l_01 {
  top: 10px;
}

.ft_link .l_02 {
  left: 15px;
}

.ft_link .l_03 {
  left: 12px;
}

.ft_link .l_04 {
  left: 1px;
}

.ft_link .l_01::before {
  content: "";
  position: absolute;
  left: -117px;
  top: -103px;
  z-index: -1;
  background: url(../images/ft_geko.png) center/ cover no-repeat;
  width: 228px;
  height: 152px;
}


.ft_link .l_02::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -50px;
  z-index: -1;
  background: url(../images/ft_shape01.png) center/ cover no-repeat;
  width: 136px;
  height: 142px;
}

.ft_link .l_03::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -40px;
  z-index: -1;
  background: url(../images/ft_shape02.png) center/ cover no-repeat;
  width: 162px;
  height: 116px;
}

.ft_link .l_04::before {
  content: "";
  position: absolute;
  left: -59px;
  top: -34px;
  z-index: -1;
  background: url(../images/ft_shape03.png) center/ cover no-repeat;
  width: 146px;
  height: 110px;
}


.ft_link .l_01 .dif {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.ft_link ul li {
  font-family: var(--f-plus);
  font-weight: 500;
  margin-bottom: 4px;
}

.ft_link ul li p {
  padding-left: 0px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.ft_link ul li a {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: var(--txt);
  line-height: 1.4em;
  letter-spacing: 0.01em;
  padding-left: 10px;
}

.ft_link .l_04 .big p {
  top: 3px;
}

.ft_link ul li a::before {
  width: 7px;
  height: 10px;
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background: url('../images/ic_ar_green.svg') center /cover no-repeat;
}

/* FOOTER BOTTOM */
.ft_bt {
  padding-top: 84px;
}

.ft_bt ul li:not(:last-child) {
  margin-right: 8px;
}

.ft_bt ul li a {
  display: block;
}


address {
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 26px 0;
  position: relative;
  letter-spacing: -0.01em;
}

address>span {
  text-transform: lowercase;
}

address::before {
  content: "";
  position: absolute;
  top: -46px;
  left: 0;
  background: url(../images/ft_address.png) center no-repeat;
  width: 100%;
  height: 698px;
  z-index: -1;
}

/* BACK TO TOP */
.to_top {
  position: fixed;
  z-index: 11;
  width: 90px;
  height: 132px;
  bottom: 60px;
  right: 17px;
  cursor: pointer;
  transition: all ease 0.3s;
  opacity: 0;
  visibility: hidden;
}

.to_top.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible
}


.to_top span {
  font-size: 15px;
  color: var(--txt);
  letter-spacing: 0.05em;
  position: absolute;
  left: -3px;
  bottom: -26px;
  font-weight: 600;
}


/* FIX EDGE ONLY  */
@supports (-ms-ime-align: auto) {}

/* FIREFOX ONLY */
@-moz-document url-prefix() {}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {}